# Reading change_requests.db into Pandas DataFrames
This notebook connects to the `change_requests.db` SQLite database, explores its tables, and loads them into Pandas DataFrames.

In [8]:
import sqlite3
import pandas as pd

In [9]:
conn = sqlite3.connect('change_requests.db')
cursor = conn.cursor()

In [10]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
change_requests
sqlite_sequence

In [11]:
dataframes = {}

for table in tables:
    table_name = table[0]
    print(f"\nLoading table: {table_name}")
    
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[table_name] = df
    
    print(f"Preview of {table_name}:")
    display(df)

Loading table: change_requests
Preview of change_requests:

,id,project_name,change_number,requested_by,date_of_request,presented_to,change_name,description,reason,cost_items,category,timestamp
0,1,Project 1,CR-1277,Josh Boquiren,2025-04-01,CSCI 495,OS Update,User needs machine's operating system updated ...,Hardware compatibility expired,"[{""item_description"": """", ""hours_reduction"": 0...",software issue,2025-04-01 17:20:14
1,2,Project 2,CR-1699,Michael Scott,2025-04-01,Dunder Mifflin,,Need more paper.,Ran out of paper.,"[{""item_description"": """", ""hours_reduction"": 0...",other,2025-04-01 17:22:38
2,3,Project 3,CR-1523,Billy Joe McGuffry,2025-04-01,,OS Change,User would like to change operating systems fr...,Windows has too much bloatware,"[{""item_description"": """", ""hours_reduction"": 0...",software issue,2025-04-01 17:25:22
3,4,Project 4,CR-1160,Some Body,2025-04-01,Some Other Body,,Need to migrate data from hard drives to cloud...,,"[{""item_description"": """", ""hours_reduction"": 0...",hardware issue,2025-04-01 17:26:51
4,5,Project 5,CR-1940,Macy Denlinger,2025-04-01,,New Router,User needs a new router setup.,,"[{""item_description"": """", ""hours_reduction"": 0...",hardware issue,2025-04-01 17:28:32
5,6,Project 1,CR-1312,Josh Boquiren,2025-04-01,,,User needs to move to a different office.,Sandra keeps stealing my Snickers.,"[{""item_description"": """", ""hours_reduction"": 0...",personnel issue,2025-04-01 17:30:59

Loading table: sqlite_sequence
Preview of sqlite_sequence:

              name  seq
0  change_requests    6

In [12]:
if 'change_requests' in dataframes:
    df_example = dataframes['change_requests']
    display(df_example.describe())
else:
    print("Replace 'your_table_name' with a valid table name from the list above.")

             id
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [13]:
conn.close()
print("Database connection closed.")

Database connection closed.

## Notes
- Ensure `change_requests.db` is in the same directory as this notebook, or update the file path in the `sqlite3.connect()` call.
- The `dataframes` dictionary stores all tables as Pandas DataFrames, accessible by table name.
- Use `display()` for nicer output in Jupyter; itâ€™s better than `print()` for DataFrames.